@font-face {
    font-family: 'AeonikFono-Bold';
    src: url('AeonikFono-Bold.woff2') format('woff2'),
        url('AeonikFono-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

